.container {
    width: 250px;
    height: 38px;
    margin: 100px auto;
}

div label input {
    margin-right: 100px;
}

.foodle_body {
  background-color: #b1b396;
}

.foodle_hr {
    border: 1px solid black;
}

.foodle_h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  font-style: normal;
  text-align: center;
}

.foodle_h2 {
  font-family: Arial, sans-serif;
  font-size: 35px;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.foodle_h3 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: normal;
  text-align: center;
}

.prompt{
  border-radius:25px;
  border:2px solid #000;
  background:#fff;
  padding: 8px 15px;
  font-size:20px;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text{
  background:#fff;
  padding: 8px 15px;
  font-size:18px;
  width: 350px;
  text-align: center;
  border:1px solid #000;
  align-items: center;
}

.div_wrapper{
  text-align: center;
}

.flat_button {
    border-radius: 10px;
    border: 2px solid #000;
    background: #fff;
    padding: 8px 15px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.flat_button:hover {
    color: #006398;
    border: 1px solid #006398;
    box-shadow: 2px 2px 20px #AFE9FF;
}

div label input {
    margin-right: 100px;
}

.selectbutton {
    margin: 4px;
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    float: left;
    font-family: Arial, sans-serif;
}

.selectbutton label {
    float: left;
    line-height: 3.0em;
    width: 8.0em;
    height: 3.0em;
}

.selectbutton label span {
    text-align: center;
    padding: 2px 0;
    display: block;
}

.selectbutton label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

/* selects all of the text within the input element and changes the color of the text */
.selectbutton label input + span {
    color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.selectbutton input:checked + span {
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    background-color: black;
}
